html {
	height:100%;
	margin:0;
   	padding:0;
}

body {
	
	font-family:Arial;
	font-size: 12px;
	background: url(../images/wallpaper-1908939.jpg);
	color: #aaaaaa;
	margin:0;
   	padding:0;
   	height:100%;
}


#body {
	min-height:100%;
	position:relative;
}

.left {
	float:left;
}

.right {
	float:right;
}

/************** HEADER ***************/

#header {
	width: 100%;
	margin: 0px;
	position:absolute;
	top: 0;
	left: 0;
	padding: 0px;
	height: 14px;
	display: block;
	text-align: center;
	background-color: rgba(0,0,0,.2);

}

#header a{
	color: #FFF;
}

#header p{
	color: #FFF;
	margin:0px;
	padding:0px;
	margin-top:-1px;
}
#container1 {
	float: left;
	width: 75%;
}

#container2 {
	float: right;
	width: 25%;
}

#container3 {
	float: right;
	width: 67%;
}

#container4 {
	margin:0px auto;
	width:650px;
}


#container3 .link-box {
	height:14px;
	width:90px;
	padding:0px;
	margin:0px;
	font-family: Helvetica, Arial, sans-serif;
	float:right;

}

#container3 .link-box p a {
	padding:0px 6px;
	font-weight:normal;
}

#container3 .feed-link {
	background-color:#282A2E;
}
#container3 .blog-link {
	background-color:#A54242;
}
#container3 .profile-link {
	background-color:#DE935F;
}
#container3 .tags-link {
	background-color:#8C9440;
}
#container3 .users-link {
	background-color:#5E8D87;
}
#container3 .saved-link {
	background-color:#5F819D;
}
#container3 .settings-link {
	background-color:#85678F;
}
#container3 .about-link {
	background-color:#969896;
}

/************** CONTENT ***************/

#content {
	padding-top:50px;
}

/************** FOOTER ***************/

#footer {
	position:absolute;
	width:100%;
	color:rgba(255,255,255,0.5);
}

#footer p {
	text-align:center;
}

span.time {
	font-size: 10px;
	color: #090909;
}

#new_link_form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 680px;
	font-size: 16px;

}

#new_link_form.heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #aaaaaa;
}

#new_link_form form {
	background-color: #454545;
	padding: 10px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#new_link_form form label {
	color: #11151E;
}

#new_link_form form input[type=text], #new_link_form form input[type=password] {
	width: 300px;
	padding: 3px;
	border: 1px solid #FFF;
}

#new_link_form form input[type=submit] {
	display: block;
	margin: auto;
	width: 200px;
	font-size: 18px;
	background-color: #FFF;
	border: 1px solid #BBB;

}

#new_link_form form input[type=submit]:hover {
	border-color: #000;
}

#new_link_form .error {
	font-size: 13px;
	color: #690C07;
	font-style: italic;
}


#new-link-button {
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: #FFFFFF;
	border: none;
	padding-top: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#new-link-button a {
	color: black;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 10px 48px 10px 51px;
}
#new-post-button {
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;	
	background-color: #FFFFFF;
	border: none;
	padding-top: 10px;
}
#new-post-button a {
	color: black;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 10px 70px 10px 65px;
}

#new-post-button:hover {

	-moz-box-shadow: 0 0 3px 3px #EEE;
	-webkit-box-shadow: 0 0 3px 3px #EEE;
	box-shadow: 0 0 3px 3px #EEE;
	
}

#user_control_box{
	float: left;
	width: 50%;
}

#logout {
	float: right;
	width: 50%;
}
#link-input {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#link-input form input[type=textarea] {
	padding: 8px;
	border: 1px solid #040404;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#mashtagg {
	float: left;
	width: 25%;
	font-size:12px;
	margin-top:-1px;
	padding: 0px;
}

#mashtagg p{
	margin: 0px;
	padding: 0px;
}

#mashtagg a {
	color: #FFFFFF;
	font-weight: normal;
}

#mashtagg a:visited {
	text-decoration:none;
}
#mashtagg a:hover {
	text-decoration:none;
}
#mashtagg a:active {
	text-decoration:none;
}
#mashtagg a:link {
	text-decoration:none;
}



#spool {
	margin:0px auto;
	padding: 10px 10px 10px 10px;
	width: 700px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	position: relative;
	
	border: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#spool p{
	margin-top:0px;
	margin-bottom:0px;
	font-size: 12px;
}

#spool li{
	margin-top:3px;
	margin-bottom:3px;
}

#spool li a {
	
	color: #BD2031;
	
}

#settings-container {
	margin:0px auto;
	padding:5px;
	width: 850px;
	background-color: rgba(0,0,0,0.2);
	color: #000000;
	font-size: 14px;
	position: relative;	
	border: none;
}

#settings-container h2{
	font-family:Helvetica, Arial, sans-serif;
	margin: 0px 0px 0px 0px;
	font-size: 28px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #999999;
        filter: dropshadow(color=#999999, offx=1, offy=1);
}
#settings-inner {
	background-color:rgba(255,255,255,0.95);
	padding: 10px
}

#settings-inner form input[type=text], #settings-inner form input[type=password] {
	width: 200px;
	font-weight: bold;
	padding: 8px;
	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#settings-inner textarea {
	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width:400px;
	height:150px;
	padding:10px;
	font-weight: bold;
}

#tab-container {
	height:30px;
	background-color:rgba(0,0,0,.2);
}



a {
	color: #000;
	text-decoration: none;
}



a:hover {
	color: #aaaaaa;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

#login-outer-container {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

.login-boxes {
	width:346px;
	height:344px;
	background:url(../images/squares.png);
}

#logo {
	width:322px;
	height:99px;
	background:url(../images/logo.png);
}

#signup_form {
	margin-left:330px;
	margin-top:-71px;
	width:321px;
	
	font-size: 16px;
}

#signup_form .heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #454545;
}

#signup_form p {
	margin:0px 0px 10px 0px;
}

#signup_form form {

	background-color: rgba(0,0,0,.5);
	padding: 30px;

}

#signup_form form label {
	color: #FFF;
}

#signup_form form input[type=text], #signup_form form input[type=password] {
	font-size:12px;
	height:20px;
	width: 250px;
	padding: 3px;
	border: 1px solid #CCC;
	background-color:#FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#signup_form form input[type=submit] {
	cursor:pointer;
	float:right;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}

#signup_form form input[type=submit]:hover {
	border-color: #000;
}

#signup_form form input[type=submit]:active {
	border-color: #FFF;
}

#signup_form a {
	font-weight:normal;
	font-size:12px;
	text-decoration:underline;
}

#signup_form .submit-forgot-container {
	margin:0px;
	border-bottom: 1px dashed #FFF;
	padding:0px 0px 15px 0px;
	width:260px;
}

#signup_form .submit-forgot-container a {
	color:#FFF;
}

#signup_form .signup-container {
	padding-top:15px;
	width:257px;
}

#signup_form .signup-container p {
	color:#FFF;
	margin-bottom:17px;
	font-size:13px;
}

#signup_form .signup-container .signup-button {
	margin-left:174px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#signup_form .signup-container .signup-button:hover {
	border-color: #000;
}

#signup_form .signup-container .signup-button:active {
	border-color: #FFF;
}

#signup_form .signup-form .cancel-signup {
	width:41px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#signup_form .signup-form .cancel-signup:hover {
	border-color: #000;
}

#signup_form .signup-form .cancel-signup:active {
	border-color: #FFF;
}

#signup_form .signup-form .button-container {
	margin-top:15px;
}

#signup_form .error {
	font-size: 12px;
	color: #FFF;
	font-style: italic;
}

#signup_form .forgot-password-form {
	color:#FFF;
	font-size:12px;
}

#signup_form .info-container {
	margin-top:10px;
	padding-top:10px;
	border-top:1px dashed #FFF;

}

#signup_form .info-container p {
	margin:0px;
}

#signup_form .button-container .cancel-forgot-password {
	width:41px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#signup_form .button-container .cancel-forgot-password:hover {
	border-color: #000;
}

#signup_form .button-container .cancel-forgot-password:active {
	border-color: #FFF;
}

#signup_form .forgot-password-success {
	background-color: rgba(0,0,0,.5);
	padding: 30px;
	color:#FFF;
	font-size:12px;
}

#signup_form .forgot-password-success .return-to-login {
	text-decoration:underline;
	cursor:pointer;
}

#signup_form .forgot-password-failure {
	background-color: rgba(0,0,0,.5);
	padding: 30px;
	color:#FFF;
	font-size:12px;
}

#submit-forgot-password {
	cursor:pointer;
	float:right;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}

#lone_signup_form {
	margin: 50px auto;
	width:321px;
	
	font-size: 16px;
}

#lone_signup_form .heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #454545;
}

#lone_signup_form p {
	margin:0px 0px 10px 0px;
}

#lone_signup_form form {

	background-color: rgba(0,0,0,.5);
	padding: 30px;

}

#lone_signup_form .button-container p {
	margin-top:5px;
	float:left;
}

#lone_signup_form .cancel-signup {
	width:41px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#lone_signup_form .cancel-signup:hover {
	border-color: #000;
}

#lone_signup_form .cancel-signup:active {
	border-color: #FFF;
}

#lone_signup_form form input[type=submit] {
	cursor:pointer;
	float:right;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}

#lone_signup_form form input[type=submit]:hover {
	border-color: #000;
}

#lone_signup_form form input[type=submit]:active {
	border-color: #FFF;
}

#lone_signup_form form input[type=text], #lone_signup_form form input[type=password] {
	font-size:12px;
	height:20px;
	width: 250px;
	padding: 3px;
	border: 1px solid #CCC;
	background-color:#FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#lone_signup_form .error {
	font-style:italic;
	font-size:12px;
	color:#FFF;
}

#submit-forgot-password:hover {
	border-color: #000;
}

#submit-forgot-password:active {
	border-color: #FFF;
}

#blog-outer-container {
	margin:0px auto;
	width:765px;
}

#blog-content-container .first-post {
	margin-top:0px;
	border:none;
}

#blog-content-container {
	float:right;
	display: block;
}

#blog-content-container .compose-container {
	background-color:rgba(0,0,0,.2);
	padding:5px 0px 5px 5px;
	margin-bottom:5px;
}

#blog-content-container .compose-container .compose-inner-container .compose-button p {
	color:#000;
	margin-top:5px;
}

#blog-content-container .compose-container .compose-inner-container .new_post img {
	margin-top:10px;
}

#blog-content-container .compose-container .compose-inner-container .new_image img {
	margin-top:15px;
}

#blog-content-container .compose-container .compose-inner-container .new_link img {
	margin-top:10px;
}

#blog-content-container .compose-container .compose-inner-container .new_quote img {
	margin-top:10px;
}

#blog-content-container .compose-container .compose-inner-container .new_image p {
	margin-top:10px;
}

#blog-content-container .compose-container .compose-inner-container .new_quote p {
	margin-top:7px;
}

#blog-content-container .compose-container .compose-inner-container .compose-button {
	height:90px;
	width:121px;
	margin-right:5px;
	background-color:rgba(255,255,255,0.95);
	float:left;
	text-align:center;
	cursor:pointer;
}

#blog-content-container .compose-container .compose-inner-container .compose-button:hover {
	background-color:#FFF;
}



#blog-content-container .posts-container {
	background-color:rgba(0,0,0,.2);
	padding:5px;
}

#blog-author-container {
	width:240px;
	float:left;
	padding:5px;
	margin:0px;
	background-color:rgba(0,0,0,.2);
}

#blog-author-container .portrait-container {
	margin:0px;
	padding:0px;
}

#blog-author-container .portrait-container img {
	width:240px;
	padding:0px;
	margin:0px;
}

#blog-author-container .button {
	color:#000;
	width:220px;
	padding:10px;
	cursor:pointer;
	text-shadow: 1px 1px 1px #999999;
        filter: dropshadow(color=#999999, offx=1, offy=1);

    background-color:rgba(255,255,255,0.90);
}

#blog-author-container .button:hover {
	background-color:#FFF;
	text-shadow:none;
}

#blog-author-container .button p {
	margin:0px;
}

#post_container {
	
	width: 1000px;
	margin:50px auto;
	padding: 5px;
	background-color:rgba(0,0,0,.2);
}

#post_container h2 {
	font-family:Helvetica, Arial, sans-serif;
	color: #BD2031;
	margin: 0px 0px 0px 0px;
	font-size: 28px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #999999;
        filter: dropshadow(color=#999999, offx=1, offy=1);
}

#post_container .outer-post-container {
	padding:10px;
	margin-bottom:20px;
	border:none;
}

#post_container .outer-post-container .inner-post-container {
	float:left;
}

.outer-post-container:hover {
	background-color:#FFF;
}

.post-container {
	min-height: 60px;
	padding: 10px 10px 5px 10px;
	margin: 0px 0px 0px 0px;
	color:#000;
}

.post-container h2 {
	font-family:Helvetica, Arial, sans-serif;
	margin: 0px 0px 10px 0px;
	font-size: 28px;
	font-weight:normal;
	text-shadow: 1px 1px 1px #999999;
        filter: dropshadow(color=#999999, offx=1, offy=1);
}

.post-container h2 a{
	color: #000;
}

.post-container h2 a:hover{
	color:#000;
	text-decoration:underline;
	text-shadow:none;
}

.post-container a{
	color: #444444;
}

.post-container a:hover{
	color: #666666;
}

.outer-post-container .post-author-vote-container {
	float:left;
}

.outer-post-container .post-author-vote-container img{
	height:48px;
	width:48px;
}

.outer-post-container .post-body-container {
	width:420px;
	margin-left:10px;
	float:left;
}

.outer-post-container {
	background-color:rgba(255,255,255,.95);
	border-top:1px solid rgba(0,0,0,0.075);
}

.outer-post-container .post-body-container p {
	margin:5px 0px;
	color:#000;
}

.outer-post-container .post-body-container .post-links {
	margin-top:10px;
}

p.author {
	margin-top:0px;
	margin-bottom:0px;
	font-size: 10px;
}



.little-post-container {
	padding: 10px;
	color:#000;
}

.little-post-container a{
	color: #444444;
}

.little-post-container a:hover{
	color: #666666;
}

.post-container-1 {
	color:#000;
	padding-left:5px;
}

.profile-top {

	background-color: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	padding: 15px 15px 15px 15px;
	margin-top: 0px;
	margin-left: 125px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 2px;
	width: 615px;

}

.profile-bottom {

	background-color: #FFFFFF;
	padding: 0px 15px 15px 15px;
	margin-left: 125px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 30px;
	width:615px;

}

#post-form-container {
	display: none;
	position: absolute;
	top: 150px;
	background-color: #FFFFFF;
	width: 700px;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 11px #BBB;
	-moz-box-shadow:    0px 0px 11px #BBB;
	box-shadow:         0px 0px 11px #BBB;
}

#post-form-container input[type="text"] {
	
	width: 200px;
	font-weight: bold;
	padding: 8px;

	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	

}

#post-form-container a {
	
	color: #BD2031;
	
}

ul {
	list-style-type: none;
}

.settings-menu-item {
	float:left;
	background-color: rgba(0,0,0,0.2);
	color:#FFF;
	border:none;
	padding: 8px 8px 6px 8px;
}

.settings-menu-item:hover {

	color:#000;
	background-color:#FFF;
}

.settings-menu-item a {
	padding: 8px 8px 6px 8px;
	text-decoration: none;
	font-weight: normal;
	color:inherit;
}

.settings-active-menu-item {
	float:left;
	font-weight: bold;
	text-decoration: bold;
	color: black;
	padding: 8px 8px 6px 8px;
	background-color: rgba(255,255,255,0.95);
	border:none;
}

.menu-item {
	color: black;
	float:right;
	padding-top:7px;
	padding-bottom:8px;
}

.menu-item:hover {

	background-color: #EEE;

}

.menu-item a {
	padding: 8px 8px 6px 8px;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.active-menu-item {
	float:right;
	font-weight:bold;
	color: black;
	padding: 8px 8px 7px 8px;
	background-color: #FAFAFA;
}

.label {

	float: left;
	width: 120px;
	text-align: right;
	padding-top: 10px;
	color: #333;

}

.fixed {
	margin: 20px 0 20px;
}

.input {
	margin-left: 140px;
}
.input-checkbox {
	margin-left: 140px;
	padding-top: 10px;
}

.comments {
	margin: 0px 0px 2px 0px;
	color: #000;
	font-size: 12px;
	font-family:Arial, sans-serif;
	display: none;
	text-decoration:none;
	font-weight:normal;
}

.comments a {
	color: #000;
	font-family:Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

.comments a:hover {
	text-decoration:underline;
}

.little-comments {
	margin:0px;
	color: #000;
	font-size: 12px;
	display: none;
}

.little-comments a:hover {
	text-decoration:underline;
}

.expand {
	font-size: 12px;
	font-family:Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
	cursor:pointer;
}

.expand:hover {
	text-decoration:underline;
}

.picture {
	float: left;
	background-position:top left;
	background-repeat: no-repeat;
	text-align: right;
	margin-right:10px;
}

.picture a {
	color: #000;
}

.picture a:hover {
	color: #777;
}

.picture img {
	width:48px;
	height:48px;
}
.edit {

	float: right;
	margin-top: 10px;
}

.body {
	color: #777777;
	margin:5px 0px 5px 0px;
}

.little-body {
	color: #777777;
}

.close {

	position: absolute;
	top: 5px;
	left: 680px;

}

.new_user a{
	color: #444;
	
}

.new_comment_submit {
	margin: 15px;
}

#comment-container {
	background:#FAFAFA;
	color:#000;
	padding-bottom:15px;
}

#comment-container p {
	margin:0px 0px 0px 30px;
}

#comment-container .odd-comment {
	background-color:#FAFAFA;
}

#comment-container .even-comment {
	background-color:#FFF;
}

#comment-container .outer-comment-container {
	border:1px solid #DDD;
	border-bottom:0px;
	padding:5px 5px 1px 5px;
}

#comment-container .outer-comment-container .profile-pic {
	float:left;
	margin:8px;
}

#comment-container .outer-comment-container .profile-pic img{
	height:36px;
	width:36px;
}

.new-comment-container {
	padding-left: 30px;
}



.inner-comment-container {
	margin-left: 10px;
}

.inner-comment-container .add_comment_container {
	margin-left:46px;
}

.new_comment_input{
	margin: 0px;
}

.new_comment {
	margin: 10px 0px;
}

.input_container {
	padding-top:20px;
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

#tabs {

	list-style-type:none;
	margin: 0;
	float:right;	

}

#tabs li {
	display: inline;
}

#tabs p{
	margin: 0;
	padding: 0;
}

.reply {
	margin: 0px 5px 5px 0px;
}

.reply a {
	color: #444444;
	font-size: 10px;
	
}

.add_comment {

	margin: 0px 0px 0px ;

}

.comment_body {
	margin: 4px 0px 0px 0px;
}

.comment_author {
 	color: #444444;
	font-size: 10px;
 }


.comment_author a {
	color:#DE935F;
	font-size:inherit;
	font-weight:bold;		
}

.comment_author a:hover {
	text-decoration: underline;
}

.comment_author .create_date {
	color:#444444;
	font-weight:normal;
}

.reply a:hover {
	text-decoration: underline;
}

.comment_author {
	margin: 0 0 5px 0;
}

.comment-rating {
	padding-top:9px;
	padding-left:3px;
	float: left;
}

.comment-rating div {
	height:20px;
}

.upvote {
	color: black;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 20px;
	cursor:pointer;	
}

.downvote {
	color: black;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 25px;
	cursor:pointer;
}

.upvote:hover {
	background-color: #DDD;	
}

.downvote:hover {
	background-color: #DDD;	
}

.comment-rating img {
	height:11px;
	width:16px;
}

.clicked_upvote {
	color: red;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 20px;
	cursor:pointer;	
}

.clicked_downvote {
	color: red;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 25px;
	cursor:pointer;
}

.clicked_upvote:hover {
	background-color: #DDD;	
}

.clicked_downvote:hover {
	background-color: #DDD;	
}

.disabled_upvote {
	color: gray;
	text-align: center;
	margin:0px;
}

.disabled_downvote {
	color: gray;
	text-align: center;
	margin:0px;	
}

#tags-container {
	background-color:#FAFAFA;
	padding:30px;
	color:#000;
}

#tags-container p {
	margin:0px;
}

#shares-container {
	background-color:#FAFAFA;
	padding:30px;
	color:#000;
}

#shares-container p {
	margin:0px;
}

/********************** Users page *****************************/

.content-container {
	margin:0px auto;
	padding:5px;
	width:900px;
	background-color: rgba(0,0,0,.2);
}

.content-container .user-header {
	background-color:rgba(0,0,0,.2);;
}

.content-container .user-header h3 {
	margin:0px;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
}

.content-container .user-header .left-side {
	float:left;
	padding:5px;
}

.content-container .user-header .right-side {
	float:right;
}

.content-container .user-header .right-tab {
	margin:0px;
	float:right;
	padding:7px 5px;
	cursor:pointer;
}

.content-container .user-header .selected {
	background-color:#FFF;
	cursor:default;
}

.content-container .user-header .unselected:hover {
	background-color: rgba(100,100,100,.5);
}

.users-outer-container {
	padding:20px;
	background-color:#FAFAFA;
}

.users-outer-container .user-filter-container {
	width:100%;
	margin-bottom:10px;
}

.users-outer-container .user-filter-container .search-label{
	margin:4px 0px;
	float:left;
}

.users-outer-container .user-filter-container .user-search-input {
	float:left;
}

.users-outer-container .users-inner-container {
	height:640px;
}

.users-outer-container .users-inner-container .user-column {
	float:left;
	height:640px;
}

.users-outer-container .user-pages-container {
	margin-top:20px;
}

.users-outer-container .user-pages-container .inner-pages-container {
	float:right;
	margin-right:13px;
	color:#787878;
}

.users-outer-container .user-pages-container .inner-pages-container .pagination-button {
	float:left;
	border: 1px solid #DCDCDC;
}

.users-outer-container .user-pages-container .inner-pages-container .page-number {
	background-color:#FFF;
	padding:4px;
	margin:2px;
}

.users-outer-container .user-pages-container .inner-pages-container .previous-button,
.users-outer-container .user-pages-container .inner-pages-container .next-button {
	background-color:#FFF;
	padding:4px;
	margin:2px;
}

.users-outer-container .user-pages-container .inner-pages-container .ellipses {
	padding:4px;
	margin:2px;
	border:0px;
}

.users-outer-container .user-pages-container .inner-pages-container .active {
	background-color:#FFF;
	padding:7px;
	margin:2px;
	color:#969696;
}

.user-container {
	width:179px;
	height:70px;
	margin:0px 10px 10px 0px;
	background-color:#FFF;
	border: 1px solid #DCDCDC;
}

.user-container .pic {
	height:60px;
	width:60px;
	float:left;
}

.user-container .pic img {
	height:50px;
	width:50px;
	margin:5px;
}

.user-container .info {
	float:left;
}

/********************** User Profile styles ********************/

.profile-container {
	margin:0px auto;
	padding:5px;
	width:1000px;
	background-color: rgba(0,0,0,.2);
}

.profile-container .profile-header {
	background-color:rgba(0,0,0,.2);
}

.profile-container .profile-header h3 {
	margin:0px;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
	padding:5px;
}

.profile-container .bio-container {
	height:267px;
	background-color:#FFF
}

.profile-container .bio-container .left-bio {
	float:left;
	width:200px;
	position:relative;
}

.profile-container .bio-container .left-bio img {
	width:200px;
	top:50%;
	bottom:50%;
	
}

.profile-container .bio-container .left-bio .influence-container {
	position:absolute;
	text-align:left;
	bottom:5px;
	left:5px;
	color:#FFF;
}

.profile-container .bio-container .left-bio .influence-container .influence-label {
	font-style:italic;
}

.profile-container .bio-container .left-bio .follow-container input {
	margin-left:50px;
	margin-top:10px;
}

.profile-container .bio-container .right-bio {
	margin:20px 0px;
	padding:0px 20px;
	float:left;
	width:259px;
	height:190px;
}

.profile-container .bio-container .right-bio p {
	margin:5px;
	color:#333333;
}

.profile-container .bio-container .about {
	width:460px;
	height:227px;
	padding:20px;
	float:left;
	background-color:#F5F5F5;
	font-family: 'Lato', sans-serif;
	font-size:30px;
}

.profile-container .bio-container .about p {
	color:#333333;
	margin:0px;
	font-style:italic;
}

.profile-container .summary-container {
	width:1000px;
	background:#FFF;
	margin-top:5px;
}

.profile-container .summary-container .summary-row {
	height:250px;
}

.profile-container .summary-container .summary-row h3 {
	color:#333333;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #C7C7C7;
}

.profile-container .summary-container .summary-row .left {
	margin:20px 0px;
	padding:0px 20px;
	float:left;
	width:459px;
	border-right:1px dashed #C7C7C7;
	height:210px;
}

.profile-container .summary-container .summary-row .right {
	width:460px;
	height:210px;
	padding:20px;
	float:left;
}

.profile-container .summary-container p {
	margin: 6px 0px;
}

.profile-container .summary-container p a:hover {
	text-decoration:underline;
	color:#555;
}

.loading-gif {
	margin:10px;
	height:32px;
	width:32px;
	background:url(../images/loading.gif);
}

.validate-email-container {
	margin:50px auto;
	padding:5px;
	width:400px;
	background-color: rgba(0,0,0,.2);
}

.validate-email-container .inner-container {
	background-color:#FFF;
	padding:20px;
	color:#000;
}

.validate-email-container .inner-container p {
	margin:0px;
}

.validate-email-container .inner-container .validate-button {
	margin:20px auto 0px auto;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9;
	width:46px;
}

.validate-email-container .inner-container .validate-button:hover {
	border:1px solid #000;
}

.validate-email-container .inner-container .validate-button a {
	color:#FFF;
}

.change_password_container {
	background-color:rgba(0,0,0,0.5);
	padding:10px 30px;
	margin:50px auto;
	width:258px;
}

.change_password_container p {
	color:#FFF;
}

.change_password_container p a {
	color:#FFF;
	text-decoration:underline;
}

.change_password_container form input[type=text], .change_password_container form input[type=password] {
	font-size:12px;
	height:20px;
	width: 250px;
	padding: 3px;
	border: 1px solid #CCC;
	background-color:#FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.change_password_container form input[type=submit] {
	cursor:pointer;
	float:right;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}

.change_password_container form input[type=submit]:hover {
	border-color: #000;
}

.change_password_container form input[type=submit]:active {
	border-color: #FFF;
}

.referral-outer-container {
	width:400px;
	color:#333;
	background-color:rgba(0,0,0,0.3);
	padding:5px;
	margin:50px auto;
}

.referral-outer-container .inner-container {
	width:360px;
	background-color:#FFF;
	padding:10px 20px;
}

.referral-outer-container .inner-container .validation-errors p{
	text-align:center;
	color:red;
	margin:0px 0px -5px 0px;
}

.referral-outer-container .inner-container .header {
	height:70px;
}

.referral-outer-container .inner-container .header .left {
	width:270px;
}

.referral-outer-container .inner-container .header .right {
	margin-top:10px;
}

.referral-outer-container .inner-container .header .right .referral-button {
	cursor:pointer;
	float:right;
	background:#8AAD44;
	background:-moz-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8C9440),color-stop(100%,#8C9440));
	background:-webkit-linear-gradient(top, #8AAD44 0%, #8C9440 100%);
	background:-o-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-ms-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:linear-gradient(top,#8C9440 0%,#8AAD44 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AAD44',endColorstr='#8C9440',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #96D615
}

.referral-outer-container .inner-container .header .right .referral-button:hover {
	border:1px solid #000;
}

.referral-outer-container .inner-container .header .right .referral-button:active {
	border:1px solid #999;
}

.referral-outer-container .inner-container .email-container {
	margin-top:18px;
	height:52px;
}

.referral-outer-container .inner-container .email-container #referral_email {

	margin-left:5px;
	width: 200px;
	font-weight: bold;
	padding: 8px;
	background-color:#ECECEC;
	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right:10px;

}

.referral-outer-container .inner-container .email-container #submit_referral {
	cursor:pointer;
	background:#8AAD44;
	background:-moz-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8C9440),color-stop(100%,#8C9440));
	background:-webkit-linear-gradient(top, #8AAD44 0%, #8C9440 100%);
	background:-o-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-ms-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:linear-gradient(top,#8C9440 0%,#8AAD44 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AAD44',endColorstr='#8C9440',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #96D615;
	margin-right:5px;
}

.referral-outer-container .inner-container .email-container #submit_referral:hover {
	border:1px solid #000;
}

.referral-outer-container .inner-container .email-container #submit_referral:active {
	border:1px solid #FFF;
}

.referral-outer-container .inner-container .email-container #cancel_referral {
	cursor:pointer;
	background:#8AAD44;
	background:-moz-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8C9440),color-stop(100%,#8C9440));
	background:-webkit-linear-gradient(top, #8AAD44 0%, #8C9440 100%);
	background:-o-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:-ms-linear-gradient(top,#8AAD44 0%,#8C9440 100%);
	background:linear-gradient(top,#8C9440 0%,#8AAD44 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AAD44',endColorstr='#8C9440',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #96D615
}

.referral-outer-container .inner-container .email-container #cancel_referral:hover {
	border:1px solid #000;
}

.referral-outer-container .inner-container .email-container #cancel_referral:active {
	border:1px solid #FFF;
}

.referral-outer-container .inner-container .referrals {
	border-top:1px #C7C7C7 dashed;
}

.referral-outer-container .inner-container .referrals .no-referrals {
	text-align:center;
}


/********************* COMPOSE PAGE **************************/

.compose-content-container {
	margin:0px auto;
	padding:5px 0px;
	width:100%;
	background-color: rgba(0,0,0,.2);
	height:800px;

}

.compose-content-container .compose-outer-container {
	width:100%;
	height:100%;
}

.compose-content-container .compose-outer-container .navigation-outline{
	float:left;
	height:100%;
	width:250px;
	background-color: rgba(0,0,0,.2);
}

.compose-content-container .compose-outer-container .input-container {
	min-width:850px;
	height:100%;
	float:left;
	background-color:#FFF;
}

.compose-content-container .compose-outer-container .input-container .title-input-container {
	height:50px;
	border-bottom:1px dashed #C7C7C7;
	margin-bottom:10px;
	padding:5px 5px 5px 20px;
}

.compose-content-container .compose-outer-container .input-container .image-upload-container {
	margin:20px auto;
	width:382px;
	height:382px;
	border:5px dashed #C7C7C7;
	background-color:#EAEAEA;
}

.compose-content-container .compose-outer-container .input-container .title-input-container #post-title {
	width:100%;
	height:50px;
	border:none;
	font-size:20px;
	font-family:Helvetica, Arial, sans-serif;
}

#post-title:focus {
	outline-width:0;
}


.compose-content-container form input[type=submit] {
	cursor:pointer;
	float:left;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F	
}

.compose-content-container form input[type=submit]:hover {
	border-color: #000;
}

.compose-content-container form input[type=submit]:active {
	border-color: #FFF;
}

.compose-content-container .compose-outer-container .input-container input[type=checkbox] {
	margin-top:9px;
	float:left;
}

.compose-content-container .compose-outer-container .input-container p {
	margin-top:8px;
	color:#000;
	float:left;
}

.compose-content-container .compose-outer-container .input-container .publish-container {
	float:left;
	margin-left:20px;
}

.compose-content-container .compose-outer-container .input-container .controls-container {
	padding:15px 20px;
}